* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video,
canvas {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
  color: $font_color;
}

body {
  font-family: $main_font;
  color: $font_color;
  background-color: rgba(246, 190, 52, 0.5);
}

#root {
  height: 100vh;
}