@import "./general.scss";

.footer {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  h5 {
    margin-bottom: 0;
  }
  .sm-logos {
    display: flex;
    flex-wrap: nowrap;
    a {
      padding-left: 20px;
      font-size: 25px;
    }
  }
  .am-here {
    width: 100px;
  }
}

@media (max-width: 700px) {
  .footer {
    position: initial;
  }
  .am-here {
    display: none;
  }
  h5 {
    font-size: 12px;
  }
}
