@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Righteous&display=swap");
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video,
canvas {
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
  color: $font_color;
}

body {
  font-family: $main_font;
  color: $font_color;
  background-color: rgba(246, 190, 52, 0.5);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fake-topbar {
  height: 50px;
  width: 100%;
  padding: 20px;
  display: none;
}

@media (max-width: 750px) {
  .fake-topbar {
    display: block;
  }
}
