@import "./general.scss";

.logo {
  font-size: 2rem;
  color: $font_color;
  font-family: $logo_font;
  letter-spacing: 2px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  span {
    color: $logo_btn_color;
  }
}

@media (max-width: 750px) {
  .logo {
    padding: 5px !important;
    font-size: 20px;
    margin-bottom: 0 !important;
  }
}
