@import "./general.scss";

.info-button {
  position: absolute;
  top: 32px;
  right: 30px;
  width: 50px;
  font-family: $main_font;
  border: none;
  height: 40px;
  border-radius: 10px;
  padding: 5px 20px;
}
.info-button:active,
.btn-primary:focus,
.info-button:hover,
.btn-primary {
  background-color: $logo_btn_color;
  box-shadow: 0 0 0 0.2rem $logo_btn_color;
}

.modal-open {
  padding-right: 0 !important;
}
.modal-content {
  width: 50vw;
  margin: 0 auto;
  .modal-header {
    border: none;
    .modal-title {
      margin-top: 50px !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      font-style: italic;
      color: $logo_btn_color;
      .logo {
        font-style: initial;
      }
    }
    button {
      margin-left: 0;
      padding-left: 0;
    }
  }
  .modal-body {
    padding: 25px;
    padding-top: 0;
    text-align: center;
    h4 {
      padding-bottom: 30px;
    }
    p {
      text-align: justify;
      margin: 0 auto;
      width: 70%;
      line-height: 30px;
    }
  }
  .modal-footer {
    border: none;
    button {
      background: $logo_btn_color;
    }
    .btn:active {
      background-color: orange;
    }
  }
}

@media (max-width: 750px) {
  .info-button {
    z-index: 3000;
    background: none;
    color: $logo_btn_color;
    width: 25px !important;
    padding: 0 !important;
    font-size: 18px;
    top: 7px;
    right: 10px;
  }
  .info-button:active,
  .info-button:focus,
  .info-button:hover,
  .info-button {
    box-shadow: none !important;
    background: none;
    color: $logo_btn_color;
  }

  .modal-content {
    width: initial;
    height: 90vh;
    max-height: 650px;
    z-index: 4000;
    .modal-header {
      margin: 30px 0 !important;
      .modal-title {
        margin-top: initial !important;
        h1 {
          margin-bottom: 0 !important;
          padding-bottom: 0 !important;
        }
      }
    }
    .modal-body {
      margin: 0 auto !important;
      p {
        font-size: 2.5vh;
        line-height: 4vh;
        width: 85%;
      }
    }
  }
}
