@import "./general.scss";

.searchbar {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 75px;
  position: relative;
  input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 280px;
  }
  .search-button {
    background: none;
    border: none;
    color: $logo_btn_color;
    padding-left: 10px;
    font-size: 18px !important;
    position: absolute;
    right: 30px;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  .searchbar {
    margin-right: initial !important;
    .search-button {
      right: 30px;
    }
  }
}
