@import "./general.scss";

.topbar {
  min-height: 100px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 50px;
  .topbar-left {
    display: flex;
    align-items: center;
    max-width: 500px;
    .btn {
      background-color: $logo_btn_color;
      font-family: $main_font;
      border: none;
      height: 40px;
      border-radius: 10px;
      padding: 5px 20px;
    }
    .btn:active {
      background-color: orange;
    }
  }
}

@media (max-width: 750px) {
  .topbar {
    flex-direction: column;
    min-height: 50px !important;
    padding: 10px !important;
    position: fixed;
    top: 0;
    z-index: 10;
    .topbar-left {
      flex-direction: column;
      display: none;
      margin-top: 15px;
    }
    .hamburger {
      position: fixed;
      top: 10px;
      left: 8px;
      z-index: 10;
      .bar-1,
      .bar-2,
      .bar-3 {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        display: block;
      }

      .change.bar-1 {
        -webkit-transform: rotate(-45deg) translate(-4px, 4px);
        transform: rotate(-45deg) translate(-5px, 5px);
      }

      .change.bar-2 {
        opacity: 0;
      }

      .change.bar-3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }
}
